<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">BellTime Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>
    
    <!-- Navigation Bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    
    <!-- Main content area -->
    <div class="container">
        <div th:insert="~{::body}"></div>
    </div>
    
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
